<div class="product-single-category-type-product-panel-settings flex-column-fill flex-row-fill">
    <uib-tabset class="settings-tabset">
        <uib-tab index="0" heading="Allgemein">
            <h2>Allgemein</h2>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Panel ID:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="model.id" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Columns:</label>
                    <div class="col-sm-10">
                        <input type="number" ng-model="model.columns" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rows:</label>
                    <div class="col-sm-10">
                        <input type="number" ng-model="model.rows" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                        <ui-select placeholder="Warengruppe" ng-model="model.categoryId" skip-focusser="true">
                            <ui-select-match>
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in items | filter: $select.search"
                                               value="{{item.guid}}">
                                {{item.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Gestaltung">
            <h2>Gestaltung der Tabelle</h2>
            <pos.designer.designer-options.style-settings></pos.designer.designer-options.style-settings>
        </uib-tab>
    </uib-tabset>
</div>
