<div id="review-editor-outer-div">
    <div class="modal-header">
        <h3 class="modal-title">Null-Beleg anzeigen</h3>
    </div>
    <div class="modal-body form-horizontal">
        <uib-tabset>
            <uib-tab index="0" heading="Rechnung">
                <div class="loader" ng-show="showLoading">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <pre ng-hide="showLoading">
                    {{previewData}}
                </pre>
                <div class="layout-row" ng-hide="showLoading">
                    <button class="btn btn-info" ng-click="reprintInvoice()">
                        Null-Beleg erneut drucken
                    </button>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg" ng-click="save()">
            Schließen
        </button>
    </div>
</div>