<div class="modal-header">
    <h3 class="modal-title" ng-show="create">Rabatt erstellen</h3>
    <h3 class="modal-title" ng-hide="create">Rabatt bearbeiten</h3>
</div>
<div class="modal-body form-horizontal">
    <uib-tabset>
        <uib-tab index="0" heading="Allgemein">
            <div class="form-group" style="margin-top: 2%">
                <label class="col-md-2 control-label">Bezeichnung:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text"
                           ng-model="model.name">
                    <div class="help-block">Der Name der Rabattes.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Verwendung:</label>
                <div class="col-md-10">
                    <ui-select placeholder="Verwendung" ng-model="model.discountUsage">
                        <ui-select-match>
                            <span ng-bind="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="usage.key as usage in discountUsages | filter: $select.search">
                            {{usage.value}}
                        </ui-select-choices>
                    </ui-select>
                    <div class="help-block">Die Verwendung des Rabatts.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Type:</label>
                <div class="col-md-10">
                    <ui-select placeholder="Type" ng-model="model.discountType">
                        <ui-select-match>
                            <span ng-bind="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type.key as type in discountTypes | filter: $select.search">
                            {{type.value}}
                        </ui-select-choices>
                    </ui-select>
                    <div class="help-block">Die Verwendung des Rabatts.</div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 2%" ng-show="model.discountType == 'VALUE'">
                <label class="col-md-2 control-label">Wert in Euro</label>
                <div class="col-md-10">
                    <input class="form-control" type="number"
                           ng-model="model.value">
                    <div class="help-block">Die Höhe des gewährten Rabatts in Euro.</div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 2%" ng-show="model.discountType == 'PERCENTAGE'">
                <label class="col-md-2 control-label">Prozentueller Wert</label>
                <div class="col-md-10">
                    <input class="form-control" type="number" min="0" max="100"
                           ng-model="model.value">
                    <div class="help-block">Die Höhe des geährten Rabatts in Prozent.</div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 2%" ng-show="model.discountType == ''">
                <label class="col-md-2 control-label">Prozent/Euro</label>
                <div class="col-md-10">
                    <input class="form-control" type="number" ng-model="model.value">
                    <div class="help-block">Die Höhe des geährten Rabatts in Prozent/Euro.</div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Löschen" ng-hide="create">
            <div style="margin-top: 2%">
                <div class="alert alert-danger" role="alert">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-1">
                            <i class="fa fa-trash fa-5x" aria-hidden="true" style="font-size: 7em;"></i>
                        </div>
                        <div class="col-md-offset-1 col-md-9">
                            <h3>
                                Sind Sie sicher dass sie die Rabatt löschen wollen?
                            </h3>
                            <button class="btn btn-danger" ng-click="delete()">Ja</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-lg" ng-click="save()">
        Rabatt speichern
    </button>
</div>