.new-elements .card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.new-elements .card {
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}

.new-elements .card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.new-elements .card .card-image {
    position: relative;
    overflow: hidden;
}

.new-elements .card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}

.new-elements .card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.new-elements .card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.new-elements .card .card-content p {
    margin: 0;
    color: inherit;
}

.new-elements .card .card-content span.card-title {
    line-height: 48px;
}

.new-elements .card-parent {
    height: 250px;
}

.new-elements .card-parent .card {
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
}
